<template>
  <div class="content-home">
    <div class="left-side-bar">
      <div class="navbar">
        <ul>
          <li v-for="(item, i) in items" :key="i">
            <a href="">{{item.text}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="middle-content">

    </div>
    <div class="right-content">

    </div>
  </div>
</template>

<script>
  export default {
    name: "Home",
    data() {
      return {
        items:[
          {
            text: "На фінішні",
            id: 1
          },
          {
            text: "З перших уст",
            id: 2
          },
          {
            text: "Без кордонів",
            id: 3
          },
          {
            text: "Відверто",
            id: 4
          },
          {
            text: "Очима вболівальників",
            id: 5
          },
          {
            text: "Мунилий сьогодні",
            id: 6
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>