.content-home {
  .left-side-bar {
    width: 300px;
    height: 100vh;
    background: black;
    opacity: .9;
    .navbar{
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      ul {
        list-style: none;
        height: 60px;
        width: 100%;
        li{
          cursor: pointer;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 22px;
          transition: ease-in-out .1s;
          a {
            font-family: 'Raleway', sans-serif;
            color: white;
            cursor: pointer;
            &:hover {
              color: #004a8e;
            }
          }

        }
      }
    }
  }
}