header {
  .container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .sub_header {
    padding: 20px 0px;
    background: black;
      @media #{$small_mobile}{
        .logo{
          text-align: center;
        }
      }
      @media #{$large_mobile}{
        .logo{
          text-align: center;
        }
      }
    .sub_header_social_icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      @media #{$small_mobile}{
        justify-content: center;
        text-align: center;
      }
      @media #{$large_mobile}{
        justify-content: center;
        text-align: center;
      }
      @media #{$tab_device}{

      }
      @media #{$medium_device}{

      }
      a{
        font-size: 14px;
        color: white;
        margin-left: 60px;
        display: inline-block;
        @media #{$small_mobile}{
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 20px;
          text-align: left !important;
        }
        @media #{$large_mobile}{
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 20px;
          text-align: left !important;
        }
        @media #{$tab_device}{

        }
        @media #{$medium_device}{

        }
        i{
          margin-right: 12px;
          color: $btn_bg;
        }
      }
      .register_icon{
        border: 1px solid #e5e9ed;
        padding: 9px 26px 9px 60px;
        border-radius: 50px;
        position: relative;
        i{
          display: inline-block;
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 38px;
          border: 1px solid #e5e9ed;
          border-radius: 50%;
          position: absolute;
          left: -1px;
          top: -1px;
          @include transform_time(2s);
        }
        &:hover{
          padding: 9px 60px 9px 26px;
          background-color: #004a8e;
          color: $white-color;
          i{
            left: auto;
            right: -14px;
            top: -1px;
            color: $white-color;
          }
        }
      }
    }
  }
  .main_menu {
    background: black;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    .navbar {
      padding: 20px 0px;
      .collapse {
        display: flex;
        flex-wrap: wrap;
        flex-basis: auto;
        .navbar-nav {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          padding-left: 0px;
          font-weight: 300;
          color: #2a2a2a;
          li {
            display: inline-block;
            font-size: 14px;
            text-transform: uppercase;
            padding-right: 22px;
            a {
              font-family: 'Raleway', sans-serif;
              color: white;
              &:hover {
                color: #004a8e;
              }
            }
          }
        }
      }
    }
  }
  .main_footer {
    .bottom-border {
      border-bottom: 4px solid #eeeeee;
    }
    .img-in-the-middle-text {
      img {
        width: 250px;
        height: 250px;
      }
    }
    .text-after-picture {
      display: flex;
      align-items: flex-end;
      transform: translateX(-40px);
      h2 {
        margin-right: 10px;
      }
    }
    .simple-text {
      h2 {
        color: blue;
        font-size: 100px;
        font-family: 'Crimson Text', serif;
        text-transform: uppercase;
      }
    }
    .img-in-the-end-text {
      display: flex;
      align-items: flex-end;
      margin-bottom: 38px;
      transform: translateX(-40px);
      img {
        width: 100px;
        height: 100px;
      }
    }
    .text-after-picture-last {
      display: flex;
      align-items: flex-end;
      margin-left: 10px;
      transform: translateX(-40px);
    }
    .title-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
