$font_stack_1: 'Roboto', sans-serif;
$font_stack_2: 'Playfair Display', serif;
$font_stack_3: 'Open Sans', sans-serif;

$white_color: #fff;
$black_color: #000;
$orange: #ff8b23;
$btn_bg: #ff8b23;
$btn_hover: #f5790b;
$section_bg: #fff7ef;
$section_bg_1: #454545;
$heading_color: #2a2a2a;
$heading_color2: #ff8b23;
$font_1: rgb(138, 138, 138);
$p_color: rgb(138, 138, 138);
$font_1: #666666;
$font_2: #777777;
$font_3: #797979;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$border_color: #fdcb9e;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;


$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';