a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a :hover {
  color: #004a8e;
   text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 1s;
}

.ti-arrow-right:after {
  content: '\2192';
}