<template>
  <header>
    <div class="sub_header">
      <v-container>
        <div class="row align-center">
          <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-xl-6">
            <div class="logo">
              <a href="">
                <img src="../../assets/images/logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xl-6">
            <div class="sub_header_social_icon">
              <a href="">
                <i class="fas fa-phone"></i>
                +380 213 - 256 (365)
              </a>
              <a href="" class="register_icon">
                <i class="ti-arrow-right"></i>
                REGISTER
              </a>
            </div>
          </div>
        </div>
      </v-container>
    </div>
    <div class="main_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="navbar">
              <div class="collapse">
                <ul class="navbar-nav mr-auto">
                  <li v-for="(item, i) in items" :key="i"><a href="">{{item.text}}</a></li>
                </ul>
                <div class="header_social_icon">
                  <ul class="navbar-nav mr-auto">
                    <li>
                      <a href="">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <i class="fab fa-skype"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_footer">
      <div class="container bottom-border">
        <div class="row justify-center">
          <div class="img-in-the-middle-text">
            <img src="../../assets/images/header.jpg" alt="">
          </div>
          <div class="text-after-picture simple-text">
            <h2>віт</h2>
            <h2>біатл</h2>
          </div>
          <div class="img-in-the-end-text">
            <img src="../../assets/images/aim.jpg" alt="">
          </div>
          <div class="text-after-picture-last simple-text">
            <h2>ну</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="title-text">
          <h2>До початку</h2>
          <h2>Зимових Олімпійських ігор 2020</h2>
        </div>
        <flip-countdown deadline="2020-12-25 00:00:00"></flip-countdown>
      </div>
    </div>
  </header>
</template>

<script>
import axios from 'axios'
import FlipCountdown from 'vue2-flip-countdown'
export default {
  components: { FlipCountdown },
  name: "ToolBar",
  data(){
    return{
      items: [
        {
          text: "Головна",
          id: 1
        },
        {
          text: "Фотогаларея",
          id: 2
        },
        {
          text: "Відеоархів",
          id: 3
        },
        {
          text: "Збірна",
          id: 4
        },
        {
          text: "Про нас",
          id: 4
        },
      ]
    }
  },
  methods: {
    getDate() {
      const some = 'https://biathlon-be.herokuapp.com/sportsman'
      const data = axios.get(some).then(response => {
        console.log(response)
      })
      console.log(data)
    }
  },
  mounted(){
    this.getDate()
  }
}
</script>

<style scoped lang="scss">
</style>